!!!
%html
	%head
		%meta(charset = "utf-8")
		%title Kohana 3.x Lookup #{(!empty($title) ? '- '.$title : '')}

		%link(type = "text/css" rel="stylesheet" href="#{url::base()}assets/reset.css")
		%link(type = "text/css" rel="stylesheet" href="#{url::base()}assets/gh-buttons.css")
		%link(type = "text/css" rel="stylesheet" href="#{url::base()}assets/jquery-ui/jquery-ui.css")
		%link(type = "text/css" rel="stylesheet" href="#{url::base()}assets/style.css")
		%link(type = "text/css" rel="stylesheet" href="http://alexgorbatchev.com/pub/sh/2.1.382/styles/shCore.css")
		%link(type = "text/css" rel="stylesheet" href="http://alexgorbatchev.com/pub/sh/2.1.382/styles/shThemeRDark.css")

		%script(type = "text/javascript" src="#{url::base()}assets/jquery.js")
		%script(type = "text/javascript" src="#{url::base()}assets/jquery-ui/js/jquery-ui.js")
		%script(type = "text/javascript" src="#{url::base()}assets/core.js")
		%script(type = "text/javascript" src="http://alexgorbatchev.com/pub/sh/2.1.382/scripts/shCore.js")
		%script(type = "text/javascript" src="http://alexgorbatchev.com/pub/sh/2.1.382/scripts/shBrushPhp.js")

	%body

		%h1
			%a(href = "http://kohanaframework.org") Kohana Framework 3.x
			%span API Lookup

		= $content

		.box.footer
			.left
				Brought to you by <a href="http://michal.matyas.pl">Michał Matyas</a>
			.right
				Fork me on <a href="http://github.com/d4rky-pl/kohana-api-lookup/">Github</a>
